/* Button */

.Button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: 500;
  transition: color 0.15s ease, background-color 0.15s ease,
    transform 0.15s ease, border-color 0.15s ease;
}

.Button.state-normal:active {
  transform: scale(0.98);
}

.Button.state-disabled,
.Button.state-loading {
  cursor: not-allowed;
}

/* Sizes */

.Button.size-1 {
  height: var(--space-6);
  font-size: var(--fs-2);
  padding: 0 var(--space-3);
  border-radius: var(--br-3);
  gap: var(--space-2);
  --spinner-size: var(--space-4);
}

.Button.size-2 {
  height: var(--space-7);
  font-size: var(--fs-2);
  padding: 0 var(--space-4);
  border-radius: var(--br-3);
  gap: var(--space-2);
  --spinner-size: var(--space-4);
}

/* Icon button */

.Button.size-1.icon {
  padding: 0;
  width: var(--space-6);
}

.Button.size-1 svg {
  height: var(--space-4);
  width: var(--space-4);
}

.Button.size-2.icon {
  padding: 0;
  width: var(--space-7);
}

.Button.size-2 svg {
  height: var(--space-4);
  width: var(--space-4);
}

/* Button - gray */

.Button.gray {
  color: var(--gray-12);
  background-color: var(--gray-4);
  border: 1px solid var(--gray-7);
  --focus-color: var(--gray-9);
}

.Button.gray:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px var(--canvas), 0 0 0 4px var(--focus-color);
}

.Button.gray svg {
  color: var(--gray-11);
}

@media (hover: hover) {
  .Button.gray:hover {
    background-color: var(--gray-6);
    border-color: var(--gray-9);
  }
}

@media (hover: none) {
  .Button.gray:active {
    background-color: var(--gray-6);
    border-color: var(--gray-9);
  }
}

.Button.gray.state-disabled,
.Button.gray.state-loading {
  background-color: var(--gray-4);
  border-color: var(--gray-7);
}

/* Button - gray + ghost */

.Button.gray.ghost {
  background-color: transparent;
  border: none;
  color: var(--gray-11);
  --focus-color: var(--gray-9);
}

.Button.gray.ghost:focus-visible {
  box-shadow: 0 0 0 2px var(--canvas), 0 0 0 4px var(--focus-color);
}

.Button.gray.ghost svg {
  color: var(--gray-11);
}

@media (hover: hover) {
  .Button.gray.ghost:hover {
    background-color: var(--gray-a4);
  }
}

@media (hover: none) {
  .Button.gray.ghost:active {
    background-color: var(--gray-a4);
  }
}

.Button.gray.ghost.state-disabled,
.Button.gray.ghost.state-loading {
  background-color: var(--gray-a4);
}
