.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: 600;
  transition: background-color 0.1s;
}

.Button:focus-visible {
  outline: 0;
}

.Button.ghost {
  font-weight: 500;
}

.Button[disabled] {
  cursor: not-allowed;
}

.Button[disabled] svg {
  opacity: 0.6;
}

/* Sizes */

.Button.size-1 {
  height: var(--sp-24);
  font-size: var(--fs-12);
  padding-left: var(--sp-8);
  padding-right: var(--sp-8);
  border-radius: var(--br-6);
  gap: var(--sp-8);
  --spinner-size: var(--sp-12);
}

.Button.size-1 svg {
  height: 14px;
  width: 14px;
}

.Button.icon.size-1 {
  padding: 0;
  height: var(--sp-24);
  width: var(--sp-24);
  --spinner-size: var(--sp-12);
}

.Button.icon.size-1 svg path {
  /* stroke-width: 2 !important; */
}

.Button.size-2 {
  height: var(--sp-32);
  font-size: var(--fs-13);
  padding-left: var(--sp-12);
  padding-right: var(--sp-12);
  border-radius: var(--br-6);
  gap: var(--sp-8);
  --spinner-size: var(--sp-12);
}

.Button.size-2 svg {
  height: 18px;
  width: 18px;
}

.Button.icon.size-2 {
  height: var(--sp-32);
  width: var(--sp-32);
  padding: 0;
  --spinner-size: var(--sp-16);
}

/* Gray */

.Button.gray {
  color: var(--gray-a12);
  background-color: var(--gray-a6);
}

.Button.gray svg {
  color: var(--gray-11);
}

.Button.gray.icon svg {
  color: var(--gray-12);
}

.Button.gray:focus-visible {
  box-shadow: 0 0 0 2px var(--canvas), 0 0 0 4px var(--gray-a9);
}

@media (hover: hover) {
  .Button.gray:hover {
    background-color: var(--gray-a7);
  }
}

.Button.gray:active {
  background-color: var(--gray-a8);
}

.Button.gray[disabled] {
  background-color: var(--gray-a3);
  color: var(--gray-a9);
}

.Button.gray[data-state='open'] {
  background-color: var(--gray-a6);
}

/* Gray + ghost */

.Button.gray.ghost {
  background-color: transparent;
  box-shadow: none;
  color: var(--gray-11);
}

.Button.gray.ghost svg {
  color: var(--gray-a11);
}

.Button.gray.ghost:focus-visible {
  box-shadow: 0 0 0 2px var(--canvas), 0 0 0 4px var(--gray-a9);
}

@media (hover: hover) {
  .Button.gray.ghost:hover {
    background-color: var(--gray-a4);
  }
}

.Button.gray.ghost:active,
.Button.gray.ghost[data-state='open'] {
  background-color: var(--gray-a5);
}

.Button.gray.ghost[disabled] {
  background: var(--gray-a3);
  color: var(--gray-a9);
}

/* Red */

.Button.red {
  color: #fff;
  background-color: var(--red-9);
}

.Button.red:focus-visible {
  box-shadow: 0 0 0 2px var(--canvas), 0 0 0 4px var(--red-9);
}

@media (hover: hover) {
  .Button.red:hover {
    background: var(--red-10);
  }
}

.Button.red:active {
  background: var(--red-11);
}

.Button.red[disabled] {
  background: var(--gray-a3);
  color: var(--gray-a9);
}

/* Red + ghost */

.Button.red.ghost {
  color: var(--red-a11);
  background-color: transparent;
}

@media (hover: hover) {
  .Button.red.ghost:hover {
    background: var(--red-a4);
  }
}

.Button.red.ghost:active {
  background: var(--red-a5);
}

.Button.red.ghost[disabled] {
  background: var(--gray-a3);
  color: var(--gray-a9);
}

/* Green */

.Button.green {
  color: #fff;
  background-color: var(--green-9);
}

.Button.green:focus-visible {
  box-shadow: 0 0 0 2px var(--canvas), 0 0 0 4px var(--green-9);
}

@media (hover: hover) {
  .Button.green:hover {
    background: var(--green-10);
  }
}

.Button.green:active {
  background: var(--green-11);
}

.Button.green[disabled] {
  background: var(--gray-a3);
  color: var(--gray-a9);
}

/* Green + ghost */

.Button.green.ghost {
  color: var(--green-a11);
  background-color: transparent;
}

@media (hover: hover) {
  .Button.green.ghost:hover {
    background: var(--green-a4);
  }
}

.Button.green.ghost:active {
  background: var(--green-a5);
}

.Button.green.ghost[disabled] {
  background: var(--gray-a3);
  color: var(--gray-a9);
}
