@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
}

@keyframes scaleOut {
  to {
    transform: scale(0.95);
    opacity: 0;
  }
}

.MenuContent {
  /* Must add 1px due to inset box shadow. */
  padding: calc(var(--sp-4) + 1px);
  border-radius: var(--br-6);
  background-color: var(--gray-3);
  box-shadow: inset 0 0 0 1px var(--gray-a5), rgb(0 0 0 / 20%) 0px 4px 24px;
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);
  user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
  .MenuContent[data-state='open'] {
    animation: scaleIn 100ms;
  }

  .MenuContent[data-state='closed'] {
    animation: scaleOut 100ms;
  }
}

.MenuItem {
  display: flex;
  align-items: center;
  padding: 0 var(--sp-8);
  height: var(--sp-32);
  border-radius: var(--br-4);
  gap: var(--sp-8);
  font-size: var(--fs-14);
  color: hsl(256, 6%, 80%);
  font-weight: 450;
}

.MenuItem svg {
  color: hsl(256, 6%, 80%);
  height: var(--sp-16);
  width: var(--sp-16);
}

.MenuItem[data-highlighted] {
  background: var(--gray-a4);
  outline: none;
  color: var(--gray-12);
}

.MenuItem[data-highlighted] svg {
  color: var(--gray-12);
}

.MenuItem.danger {
  color: var(--red-a11);
}

.MenuItem.danger svg {
  color: var(--red-a11);
}

.MenuItem.danger[data-highlighted] {
  background: var(--red-a4);
}

.MenuSeparator {
  margin: var(--sp-4);
  height: 1px;
  background: var(--gray-a6);
}

.MenuLabel {
  padding-left: calc(var(--sp-8) + 1px);
  padding-top: var(--sp-4);
  padding-bottom: var(--sp-4);
  font-size: var(--fs-13);
  color: var(--gray-11);
  font-weight: 450;
}
