.TextField {
  display: inline-block;
}

/* Label */

.TextField .Label {
  display: block;
  color: var(--gray-12);
}

.TextField.size-1 .Label {
  font-size: var(--fs-2);
  margin-bottom: var(--space-2);
}

.TextField.size-2 .Label {
  font-size: var(--fs-2);
  margin-bottom: var(--space-2);
}

/* Input */

.TextField .Input {
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  color: var(--gray-12);
  background-color: var(--canvas);
  border: 1px solid var(--gray-6);
  transition: border 0.15s ease;
  --focus-color: var(--gray-9);
}

.TextField .Input::placeholder {
  color: var(--gray-9);
}

.TextField .Input:where(:hover:not([aria-invalid="true"]):not(:disabled)) {
  border-color: var(--gray-8);
}

.TextField .Input:disabled {
  cursor: not-allowed;
  background-color: var(--gray-2);
  color: var(--gray-10);
}

.TextField .Input[aria-invalid="true"] {
  border-color: var(--red-11);
  --focus-color: var(--red-9);
}

.TextField .Input:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px var(--canvas), 0 0 0 4px var(--focus-color);
}

.TextField .Input[aria-invalid="true"]:focus-visible {
  box-shadow: 0 0 0 2px var(--canvas), 0 0 0 4px var(--focus-color);
}

.TextField.size-1 .Input {
  height: var(--space-6);
  font-size: var(--fs-2);
  padding: 0 var(--space-2);
  border-radius: var(--br-3);
}

.TextField.size-2 .Input {
  height: var(--space-7);
  font-size: var(--fs-2);
  padding: 0 var(--space-2);
  border-radius: var(--br-3);
}

/* Larger font on mobile */
@media (hover: none) {
  .TextField .Input {
    font-size: var(--fs-3) !important;
  }
}

/* Description */

.TextField .Description {
  font-size: var(--fs-2);
  margin-top: var(--space-2);
  color: var(--gray-11);
}

/* Description */

.TextField .ErrorMessage {
  font-size: var(--fs-2);
  margin-top: var(--space-2);
  color: var(--red-11);
}
