.TextField {
}

@media (hover: none) {
  input {
    font-size: var(--fs-3) !important;
  }
}

/* Label */

.TextField .Label {
  display: block;
  color: var(--gray-11);
}

.TextField.size-1 .Label {
  font-size: var(--fs-2);
  margin-bottom: var(--space-2);
}

.TextField.size-2 .Label {
  font-size: var(--fs-2);
  margin-bottom: var(--space-2);
}

/* Input */

.reset-input {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-width: 0;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  flex-shrink: 0;
  -webkit-tap-highlight-color: transparent;
  transition: border 0.15s ease;
}

.TextField .Input {
  color: var(--gray-12);
  background: var(--canvas);
  border: 1px solid var(--gray-6);
}

.TextField .Input::placeholder {
  color: var(--gray-9);
}

.TextField .Input:hover {
  border-color: var(--gray-8);
}

.TextField .Input:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px var(--canvas), 0 0 0 4px var(--focus);
}

.TextField.size-1 .Input {
  height: var(--space-6);
  font-size: var(--fs-2);
  padding: 0 var(--space-2);
  border-radius: var(--br-3);
}

.TextField.size-2 .Input {
  height: var(--space-7);
  font-size: var(--fs-2);
  padding: 0 var(--space-2);
  border-radius: var(--br-3);
}
