.TableRoot {
  background-color: var(--gray-2);
  font-size: var(--fs-14);
  line-height: 20px;
  box-shadow: 0 0 0 1px var(--gray-6);
  border-radius: var(--br-4);
  overflow: hidden;
  position: relative;
}

.TableRootTable {
  width: 100%;
  text-align: left;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0;
}

.TableHead {
  font-weight: 700;
  background-color: var(--gray-a2);
  text-transform: uppercase;
  font-size: var(--fs-12);
}

.TableBody,
.TableHead,
.TableRow {
  vertical-align: inherit;
}

.TableRow {
  color: var(--gray-12);
}

.TableCell {
  vertical-align: inherit;
  min-width: 128px;
  padding: var(--sp-12);
  box-shadow: inset 0 -1px var(--gray-6);
}

.TableCell.hasLink {
  padding: 0;
}

.TableCell.hasLink a {
  display: block;
  cursor: pointer;
  user-select: none;
  padding: var(--sp-12);
  text-decoration: none;
  color: var(--gray-12);
}

.TableCell.checkbox {
  min-width: unset;
  width: 1%;
  white-space: nowrap;
  padding: var(--sp-12);
}

.TableBody .TableRow:last-child .TableCell {
  box-shadow: none;
}

.TableBody .TableRow:has(.hasLink):hover {
  background-color: var(--gray-a2);
}
