@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400..800&display=swap");

@import "./components/Button/Button.css";
@import "./components/Card/Card.css";
@import "./components/Spinner/Spinner.css";
@import "./components/TextField/TextField.css";

:root {
  color-scheme: dark;

  --gray-1: #161616;
  --gray-2: #1c1c1c;
  --gray-3: #232323;
  --gray-4: #282828;
  --gray-5: #2e2e2e;
  --gray-6: #343434;
  --gray-7: #3e3e3e;
  --gray-8: #505050;
  --gray-9: #707070;
  --gray-10: #7e7e7e;
  --gray-11: #a0a0a0;
  --gray-12: #ededed;

  --gray-a1: hsla(0, 0%, 100%, 0);
  --gray-a2: hsla(0, 0%, 100%, 0.026);
  --gray-a3: hsla(0, 0%, 100%, 0.056);
  --gray-a4: hsla(0, 0%, 100%, 0.077);
  --gray-a5: hsla(0, 0%, 100%, 0.103);
  --gray-a6: hsla(0, 0%, 100%, 0.129);
  --gray-a7: hsla(0, 0%, 100%, 0.172);
  --gray-a8: hsla(0, 0%, 100%, 0.249);
  --gray-a9: hsla(0, 0%, 100%, 0.386);
  --gray-a10: hsla(0, 0%, 100%, 0.446);
  --gray-a11: hsla(0, 0%, 100%, 0.592);
  --gray-a12: hsla(0, 0%, 100%, 0.923);

  --canvas: var(--gray-1);
  --focus: var(--gray-9);

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 32px;
  --space-7: 40px;
  --space-8: 48px;
  --space-9: 64px;

  --br-1: 3px;
  --br-2: 4px;
  --br-3: 6px;
  --br-4: 8px;
  --br-5: 12px;
  --br-6: 16px;

  --ff-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  --fs-1: 12px;
  --fs-2: 14px;
  --fs-3: 16px;
  --fs-4: 18px;
  --fs-5: 20px;
  --fs-6: 24px;
  --fs-7: 28px;
  --fs-8: 35px;
  --fs-9: 60px;
}

body {
  margin: 0;
  overflow-wrap: break-word;
  font-family: var(--ff-sans);
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  color: var(--gray-12);
  background-color: var(--canvas);
}
