@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..800&display=swap');

@import './reset.css';
@import './components/Badge/Badge.css';
@import './components/Button/Button.css';
@import './components/Checkbox/Checkbox.css';
@import './components/Dialog/Dialog.css';
@import './components/Dropdown/Dropdown.css';
@import './components/ScrollArea/ScrollArea.css';
@import './components/Spinner/Spinner.css';
@import './components/Table/Table.css';

:root {
  --sp-4: 4px;
  --sp-8: 8px;
  --sp-12: 12px;
  --sp-16: 16px;
  --sp-20: 20px;
  --sp-24: 24px;
  --sp-32: 32px;
  --sp-40: 40px;
  --sp-48: 48px;
  --sp-56: 56px;
  --sp-64: 64px;
  --sp-72: 72px;
  --sp-80: 80px;

  --br-2: 2px;
  --br-4: 4px;
  --br-6: 6px;
  --br-8: 8px;
  --br-12: 12px;
  --br-16: 16px;
  --br-32: 32px;

  --ff-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --ff-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;

  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.8125rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-32: 2rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;

  --black-a1: hsla(0, 0%, 0%, 0.012);
  --black-a2: hsla(0, 0%, 0%, 0.027);
  --black-a3: hsla(0, 0%, 0%, 0.047);
  --black-a4: hsla(0, 0%, 0%, 0.071);
  --black-a5: hsla(0, 0%, 0%, 0.09);
  --black-a6: hsla(0, 0%, 0%, 0.114);
  --black-a7: hsla(0, 0%, 0%, 0.141);
  --black-a8: hsla(0, 0%, 0%, 0.22);
  --black-a9: hsla(0, 0%, 0%, 0.439);
  --black-a10: hsla(0, 0%, 0%, 0.478);
  --black-a11: hsla(0, 0%, 0%, 0.565);
  --black-a12: hsla(0, 0%, 0%, 0.91);

  --gray-1: hsl(246, 6%, 9%);
  --gray-2: hsl(240, 5.1%, 11.6%);
  --gray-3: hsl(241, 5%, 14.3%);
  --gray-4: hsl(242, 4.9%, 16.5%);
  --gray-5: hsl(243, 4.9%, 18.8%);
  --gray-6: hsl(244, 4.9%, 21.5%);
  --gray-7: hsl(245, 4.9%, 25.4%);
  --gray-8: hsl(247, 4.8%, 32.5%);
  --gray-9: hsl(252, 4%, 45.2%);
  --gray-10: hsl(247, 3.4%, 50.7%);
  --gray-11: hsl(253, 4%, 63.7%);
  --gray-12: hsl(256, 6%, 93.2%);

  --gray-a1: hsla(0, 0%, 0%, 0);
  --gray-a2: hsla(240, 76.7%, 91.2%, 0.031);
  --gray-a3: hsla(240, 86%, 95.8%, 0.061);
  --gray-a4: hsla(240, 91.8%, 94.7%, 0.087);
  --gray-a5: hsla(240, 91.5%, 95.8%, 0.113);
  --gray-a6: hsla(240, 92%, 93.8%, 0.148);
  --gray-a7: hsla(240, 94.8%, 95.3%, 0.191);
  --gray-a8: hsla(249, 98.1%, 95.2%, 0.273);
  --gray-a9: hsla(248, 97.6%, 96.2%, 0.416);
  --gray-a10: hsla(248, 95.5%, 96.6%, 0.477);
  --gray-a11: hsla(250, 98%, 98%, 0.615);
  --gray-a12: hsla(240, 93.9%, 99.6%, 0.931);

  --red-1: hsl(353, 23%, 9.8%);
  --red-2: hsl(357, 34.4%, 12%);
  --red-3: hsl(356, 43.4%, 16.4%);
  --red-4: hsl(356, 47.6%, 19.2%);
  --red-5: hsl(356, 51.1%, 21.9%);
  --red-6: hsl(356, 55.2%, 25.9%);
  --red-7: hsl(357, 60.2%, 31.8%);
  --red-8: hsl(358, 65%, 40.4%);
  --red-9: hsl(358, 75%, 59%);
  --red-10: hsl(358, 85.3%, 64%);
  --red-11: hsl(358, 100%, 69.5%);
  --red-12: hsl(351, 89%, 96%);

  --red-a1: hsla(0, 0%, 0%, 0);
  --red-a2: hsla(5, 98.5%, 53.8%, 0.045);
  --red-a3: hsla(359, 99.1%, 61.1%, 0.13);
  --red-a4: hsla(358, 98.8%, 61%, 0.184);
  --red-a5: hsla(357, 99.6%, 60.3%, 0.237);
  --red-a6: hsla(358, 99.6%, 60.3%, 0.322);
  --red-a7: hsla(357, 100%, 59.5%, 0.442);
  --red-a8: hsla(358, 99.8%, 59.1%, 0.621);
  --red-a9: hsla(358, 100%, 65.5%, 0.884);
  --red-a10: hsla(358, 100%, 67.5%, 0.942);
  --red-a11: hsla(358, 100%, 69.7%, 0.98);
  --red-a12: hsla(352, 100%, 97.1%, 0.98);

  --green-1: hsl(146, 30%, 7.4%);
  --green-2: hsl(155, 44.2%, 8.4%);
  --green-3: hsl(155, 46.7%, 10.9%);
  --green-4: hsl(154, 48.4%, 12.9%);
  --green-5: hsl(154, 49.7%, 14.9%);
  --green-6: hsl(154, 50.9%, 17.6%);
  --green-7: hsl(153, 51.8%, 21.8%);
  --green-8: hsl(151, 51.7%, 28.4%);
  --green-9: hsl(151, 55%, 41.5%);
  --green-10: hsl(151, 49.3%, 46.5%);
  --green-11: hsl(151, 50%, 53.2%);
  --green-12: hsl(137, 72%, 94%);

  --green-a1: hsla(0, 0%, 0%, 0);
  --green-a2: hsla(169, 100%, 48.5%, 0.027);
  --green-a3: hsla(162, 98.7%, 57.9%, 0.07);
  --green-a4: hsla(158, 98.6%, 59.7%, 0.105);
  --green-a5: hsla(158, 98.6%, 60.7%, 0.14);
  --green-a6: hsla(156, 99.9%, 62%, 0.187);
  --green-a7: hsla(154, 99.5%, 63.1%, 0.257);
  --green-a8: hsla(152, 99.7%, 64.2%, 0.37);
  --green-a9: hsla(151, 99.7%, 63.8%, 0.605);
  --green-a10: hsla(152, 99.9%, 66.5%, 0.661);
  --green-a11: hsla(151, 99.7%, 69.2%, 0.74);
  --green-a12: hsla(137, 100%, 95.8%, 0.98);

  --accent: hsl(219, 79%, 66%);
  --canvas: var(--gray-1);
}

body {
  margin: 0;
  overflow-wrap: break-word;
  font-family: var(--ff-sans);
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  color: var(--gray-12);
  background-color: var(--gray-1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media all {
  .ai-start {
    align-items: flex-start;
  }

  .ai-center {
    align-items: center;
  }

  .ai-end {
    align-items: flex-end;
  }

  .ai-baseline {
    align-items: baseline;
  }

  .ai-stretch {
    align-items: stretch;
  }

  .as-start {
    align-self: flex-start;
  }

  .as-center {
    align-self: center;
  }

  .as-end {
    align-self: flex-end;
  }

  .as-baseline {
    align-self: baseline;
  }

  .as-stretch {
    align-self: stretch;
  }

  .display-block {
    display: block;
  }

  .display-inline {
    display: inline;
  }

  .display-inline-block {
    display: inline-block;
  }

  .display-flex {
    display: flex;
  }

  .display-inline-flex {
    display: inline-flex;
  }

  .display-grid {
    display: grid;
  }

  .display-inline-grid {
    display: inline-grid;
  }

  .display-none {
    display: none;
  }

  .fd-row {
    flex-direction: row;
  }

  .fd-column {
    flex-direction: column;
  }

  .fd-row-reverse {
    flex-direction: row-reverse;
  }

  .fd-column-reverse {
    flex-direction: column-reverse;
  }

  .fg-0 {
    flex-grow: 0;
  }

  .fg-16 {
    flex-grow: 1;
  }

  .fs-0 {
    flex-shrink: 0;
  }

  .fs-16 {
    flex-shrink: 1;
  }

  .fw-nowrap {
    flex-wrap: nowrap;
  }

  .fw-wrap {
    flex-wrap: wrap;
  }

  .fw-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .gap-0 {
    gap: 0;
  }

  .gap-4 {
    gap: var(--sp-4);
  }

  .gap-8 {
    gap: var(--sp-8);
  }

  .gap-12 {
    gap: var(--sp-12);
  }

  .gap-16 {
    gap: var(--sp-16);
  }

  .gap-20 {
    gap: var(--sp-20);
  }

  .gap-24 {
    gap: var(--sp-24);
  }

  .gap-32 {
    gap: var(--sp-32);
  }

  .gap-40 {
    gap: var(--sp-40);
  }

  .gap-48 {
    gap: var(--sp-48);
  }

  .gap-56 {
    gap: var(--sp-56);
  }

  .gap-64 {
    gap: var(--sp-64);
  }

  .gap-72 {
    gap: var(--sp-72);
  }

  .gap-80 {
    gap: var(--sp-80);
  }

  .cg-0 {
    column-gap: 0;
  }

  .cg-4 {
    column-gap: var(--sp-4);
  }

  .cg-8 {
    column-gap: var(--sp-8);
  }

  .cg-12 {
    column-gap: var(--sp-12);
  }

  .cg-16 {
    column-gap: var(--sp-16);
  }

  .cg-20 {
    column-gap: var(--sp-20);
  }

  .cg-24 {
    column-gap: var(--sp-24);
  }

  .cg-32 {
    column-gap: var(--sp-32);
  }

  .cg-40 {
    column-gap: var(--sp-40);
  }

  .cg-48 {
    column-gap: var(--sp-48);
  }

  .cg-56 {
    column-gap: var(--sp-56);
  }

  .cg-64 {
    column-gap: var(--sp-64);
  }

  .cg-72 {
    column-gap: var(--sp-72);
  }

  .cg-80 {
    column-gap: var(--sp-80);
  }

  .rg-0 {
    row-gap: 0;
  }

  .rg-4 {
    row-gap: var(--sp-4);
  }

  .rg-8 {
    row-gap: var(--sp-8);
  }

  .rg-12 {
    row-gap: var(--sp-12);
  }

  .rg-16 {
    row-gap: var(--sp-16);
  }

  .rg-20 {
    row-gap: var(--sp-20);
  }

  .rg-24 {
    row-gap: var(--sp-24);
  }

  .rg-32 {
    row-gap: var(--sp-32);
  }

  .rg-40 {
    row-gap: var(--sp-40);
  }

  .rg-48 {
    row-gap: var(--sp-48);
  }

  .rg-56 {
    row-gap: var(--sp-56);
  }

  .rg-64 {
    row-gap: var(--sp-64);
  }

  .rg-72 {
    row-gap: var(--sp-72);
  }

  .rg-80 {
    row-gap: var(--sp-80);
  }

  .gaf-row {
    grid-auto-flow: row;
  }

  .gaf-column {
    grid-auto-flow: column;
  }

  .gaf-dense {
    grid-auto-flow: dense;
  }

  .gaf-row-dense {
    grid-auto-flow: row dense;
  }

  .gaf-column-dense {
    grid-auto-flow: column dense;
  }

  .gtc-16 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .gtc-48 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .gtc-12 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .gtc-16 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .gtc-24 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .gtc-32 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .gtc-40 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .gtc-48 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .gtc-56 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .h-auto {
    height: auto;
  }

  .h-max-content {
    height: max-content;
  }

  .h-min-content {
    height: min-content;
  }

  .h-0 {
    height: 0;
  }

  .h-4 {
    height: var(--sp-4);
  }

  .h-8 {
    height: var(--sp-8);
  }

  .h-12 {
    height: var(--sp-12);
  }

  .h-16 {
    height: var(--sp-16);
  }

  .h-20 {
    height: var(--sp-20);
  }

  .h-24 {
    height: var(--sp-24);
  }

  .h-32 {
    height: var(--sp-32);
  }

  .h-40 {
    height: var(--sp-40);
  }

  .h-48 {
    height: var(--sp-48);
  }

  .h-56 {
    height: var(--sp-56);
  }

  .h-64 {
    height: var(--sp-64);
  }

  .h-72 {
    height: var(--sp-72);
  }

  .h-80 {
    height: var(--sp-80);
  }

  .h-50\% {
    height: 50%;
  }

  .h-100\% {
    height: 100%;
  }

  .inset-auto {
    inset: auto;
  }

  .top-auto {
    top: auto;
  }

  .right-auto {
    right: auto;
  }

  .bottom-auto {
    bottom: auto;
  }

  .left-auto {
    left: auto;
  }

  .inset-0 {
    inset: 0;
  }

  .top-0 {
    top: 0;
  }

  .right-0 {
    right: 0;
  }

  .bottom-0 {
    bottom: 0;
  }

  .left-0 {
    left: 0;
  }

  .inset-50\% {
    inset: 50%;
  }

  .top-50\% {
    top: 50%;
  }

  .right-50\% {
    right: 50%;
  }

  .bottom-50\% {
    bottom: 50%;
  }

  .left-50\% {
    left: 50%;
  }

  .inset-100\% {
    inset: 100%;
  }

  .top-100\% {
    top: 100%;
  }

  .right-100\% {
    right: 100%;
  }

  .bottom-100\% {
    bottom: 100%;
  }

  .left-100\% {
    left: 100%;
  }

  .jc-start {
    justify-content: flex-start;
  }

  .jc-center {
    justify-content: center;
  }

  .jc-end {
    justify-content: flex-end;
  }

  .jc-space-between {
    justify-content: space-between;
  }

  .m-0 {
    margin: 0;
  }

  .m-4 {
    margin: var(--sp-4);
  }

  .m-8 {
    margin: var(--sp-8);
  }

  .m-12 {
    margin: var(--sp-12);
  }

  .m-16 {
    margin: var(--sp-16);
  }

  .m-20 {
    margin: var(--sp-20);
  }

  .m-24 {
    margin: var(--sp-24);
  }

  .m-32 {
    margin: var(--sp-32);
  }

  .m-40 {
    margin: var(--sp-40);
  }

  .m-48 {
    margin: var(--sp-48);
  }

  .m-56 {
    margin: var(--sp-56);
  }

  .m-64 {
    margin: var(--sp-64);
  }

  .m-72 {
    margin: var(--sp-72);
  }

  .m-80 {
    margin: var(--sp-80);
  }

  .-m-4 {
    margin: calc(var(--sp-4) * -1);
  }

  .-m-8 {
    margin: calc(var(--sp-8) * -1);
  }

  .-m-12 {
    margin: calc(var(--sp-12) * -1);
  }

  .-m-16 {
    margin: calc(var(--sp-16) * -1);
  }

  .-m-20 {
    margin: calc(var(--sp-20) * -1);
  }

  .-m-24 {
    margin: calc(var(--sp-24) * -1);
  }

  .-m-32 {
    margin: calc(var(--sp-32) * -1);
  }

  .-m-40 {
    margin: calc(var(--sp-40) * -1);
  }

  .-m-48 {
    margin: calc(var(--sp-48) * -1);
  }

  .-m-56 {
    margin: calc(var(--sp-56) * -1);
  }

  .-m-64 {
    margin: calc(var(--sp-64) * -1);
  }

  .-m-72 {
    margin: calc(var(--sp-72) * -1);
  }

  .-m-80 {
    margin: calc(var(--sp-80) * -1);
  }

  .mx-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .mx-4 {
    margin-left: var(--sp-4);
    margin-right: var(--sp-4);
  }

  .mx-8 {
    margin-left: var(--sp-8);
    margin-right: var(--sp-8);
  }

  .mx-12 {
    margin-left: var(--sp-12);
    margin-right: var(--sp-12);
  }

  .mx-16 {
    margin-left: var(--sp-16);
    margin-right: var(--sp-16);
  }

  .mx-20 {
    margin-left: var(--sp-20);
    margin-right: var(--sp-20);
  }

  .mx-24 {
    margin-left: var(--sp-24);
    margin-right: var(--sp-24);
  }

  .mx-32 {
    margin-left: var(--sp-32);
    margin-right: var(--sp-32);
  }

  .mx-40 {
    margin-left: var(--sp-40);
    margin-right: var(--sp-40);
  }

  .mx-48 {
    margin-left: var(--sp-48);
    margin-right: var(--sp-48);
  }

  .mx-56 {
    margin-left: var(--sp-56);
    margin-right: var(--sp-56);
  }

  .mx-64 {
    margin-left: var(--sp-64);
    margin-right: var(--sp-64);
  }

  .mx-72 {
    margin-left: var(--sp-72);
    margin-right: var(--sp-72);
  }

  .mx-80 {
    margin-left: var(--sp-80);
    margin-right: var(--sp-80);
  }

  .-mx-4 {
    margin-left: calc(var(--sp-4) * -1);
    margin-right: calc(var(--sp-4) * -1);
  }

  .-mx-8 {
    margin-left: calc(var(--sp-8) * -1);
    margin-right: calc(var(--sp-8) * -1);
  }

  .-mx-12 {
    margin-left: calc(var(--sp-12) * -1);
    margin-right: calc(var(--sp-12) * -1);
  }

  .-mx-16 {
    margin-left: calc(var(--sp-16) * -1);
    margin-right: calc(var(--sp-16) * -1);
  }

  .-mx-20 {
    margin-left: calc(var(--sp-20) * -1);
    margin-right: calc(var(--sp-20) * -1);
  }

  .-mx-24 {
    margin-left: calc(var(--sp-24) * -1);
    margin-right: calc(var(--sp-24) * -1);
  }

  .-mx-32 {
    margin-left: calc(var(--sp-32) * -1);
    margin-right: calc(var(--sp-32) * -1);
  }

  .-mx-40 {
    margin-left: calc(var(--sp-40) * -1);
    margin-right: calc(var(--sp-40) * -1);
  }

  .-mx-48 {
    margin-left: calc(var(--sp-48) * -1);
    margin-right: calc(var(--sp-48) * -1);
  }

  .-mx-56 {
    margin-left: calc(var(--sp-56) * -1);
    margin-right: calc(var(--sp-56) * -1);
  }

  .-mx-64 {
    margin-left: calc(var(--sp-64) * -1);
    margin-right: calc(var(--sp-64) * -1);
  }

  .-mx-72 {
    margin-left: calc(var(--sp-72) * -1);
    margin-right: calc(var(--sp-72) * -1);
  }

  .-mx-80 {
    margin-left: calc(var(--sp-80) * -1);
    margin-right: calc(var(--sp-80) * -1);
  }

  .my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .my-4 {
    margin-top: var(--sp-4);
    margin-bottom: var(--sp-4);
  }

  .my-8 {
    margin-top: var(--sp-8);
    margin-bottom: var(--sp-8);
  }

  .my-12 {
    margin-top: var(--sp-12);
    margin-bottom: var(--sp-12);
  }

  .my-16 {
    margin-top: var(--sp-16);
    margin-bottom: var(--sp-16);
  }

  .my-20 {
    margin-top: var(--sp-20);
    margin-bottom: var(--sp-20);
  }

  .my-24 {
    margin-top: var(--sp-24);
    margin-bottom: var(--sp-24);
  }

  .my-32 {
    margin-top: var(--sp-32);
    margin-bottom: var(--sp-32);
  }

  .my-40 {
    margin-top: var(--sp-40);
    margin-bottom: var(--sp-40);
  }

  .my-48 {
    margin-top: var(--sp-48);
    margin-bottom: var(--sp-48);
  }

  .my-56 {
    margin-top: var(--sp-56);
    margin-bottom: var(--sp-56);
  }

  .my-64 {
    margin-top: var(--sp-64);
    margin-bottom: var(--sp-64);
  }

  .my-72 {
    margin-top: var(--sp-72);
    margin-bottom: var(--sp-72);
  }

  .my-80 {
    margin-top: var(--sp-80);
    margin-bottom: var(--sp-80);
  }

  .-my-4 {
    margin-top: calc(var(--sp-4) * -1);
    margin-bottom: calc(var(--sp-4) * -1);
  }

  .-my-8 {
    margin-top: calc(var(--sp-8) * -1);
    margin-bottom: calc(var(--sp-8) * -1);
  }

  .-my-12 {
    margin-top: calc(var(--sp-12) * -1);
    margin-bottom: calc(var(--sp-12) * -1);
  }

  .-my-16 {
    margin-top: calc(var(--sp-16) * -1);
    margin-bottom: calc(var(--sp-16) * -1);
  }

  .-my-20 {
    margin-top: calc(var(--sp-20) * -1);
    margin-bottom: calc(var(--sp-20) * -1);
  }

  .-my-24 {
    margin-top: calc(var(--sp-24) * -1);
    margin-bottom: calc(var(--sp-24) * -1);
  }

  .-my-32 {
    margin-top: calc(var(--sp-32) * -1);
    margin-bottom: calc(var(--sp-32) * -1);
  }

  .-my-40 {
    margin-top: calc(var(--sp-40) * -1);
    margin-bottom: calc(var(--sp-40) * -1);
  }

  .-my-48 {
    margin-top: calc(var(--sp-48) * -1);
    margin-bottom: calc(var(--sp-48) * -1);
  }

  .-my-56 {
    margin-top: calc(var(--sp-56) * -1);
    margin-bottom: calc(var(--sp-56) * -1);
  }

  .-my-64 {
    margin-top: calc(var(--sp-64) * -1);
    margin-bottom: calc(var(--sp-64) * -1);
  }

  .my-72 {
    margin-top: calc(var(--sp-72) * -1);
    margin-bottom: calc(var(--sp-72) * -1);
  }

  .-my-80 {
    margin-top: calc(var(--sp-80) * -1);
    margin-bottom: calc(var(--sp-80) * -1);
  }

  .ml-0 {
    margin-left: 0;
  }

  .ml-4 {
    margin-left: var(--sp-4);
  }

  .ml-8 {
    margin-left: var(--sp-8);
  }

  .ml-12 {
    margin-left: var(--sp-12);
  }

  .ml-16 {
    margin-left: var(--sp-16);
  }

  .ml-20 {
    margin-left: var(--sp-20);
  }

  .ml-24 {
    margin-left: var(--sp-24);
  }

  .ml-32 {
    margin-left: var(--sp-32);
  }

  .ml-40 {
    margin-left: var(--sp-40);
  }

  .ml-48 {
    margin-left: var(--sp-48);
  }

  .ml-56 {
    margin-left: var(--sp-56);
  }

  .ml-64 {
    margin-left: var(--sp-64);
  }

  .ml-72 {
    margin-left: var(--sp-72);
  }

  .ml-80 {
    margin-left: var(--sp-80);
  }

  .-ml-4 {
    margin-left: calc(var(--sp-4) * -1);
  }

  .-ml-8 {
    margin-left: calc(var(--sp-8) * -1);
  }

  .-ml-12 {
    margin-left: calc(var(--sp-12) * -1);
  }

  .-ml-16 {
    margin-left: calc(var(--sp-16) * -1);
  }

  .-ml-20 {
    margin-left: calc(var(--sp-20) * -1);
  }

  .-ml-24 {
    margin-left: calc(var(--sp-24) * -1);
  }

  .-ml-32 {
    margin-left: calc(var(--sp-32) * -1);
  }

  .-ml-40 {
    margin-left: calc(var(--sp-40) * -1);
  }

  .-ml-48 {
    margin-left: calc(var(--sp-48) * -1);
  }

  .-ml-56 {
    margin-left: calc(var(--sp-56) * -1);
  }

  .-ml-64 {
    margin-left: calc(var(--sp-64) * -1);
  }

  .-ml-72 {
    margin-left: calc(var(--sp-72) * -1);
  }

  .-ml-80 {
    margin-left: calc(var(--sp-80) * -1);
  }

  .mt-0 {
    margin-top: 0;
  }

  .mt-4 {
    margin-top: var(--sp-4);
  }

  .mt-8 {
    margin-top: var(--sp-8);
  }

  .mt-12 {
    margin-top: var(--sp-12);
  }

  .mt-16 {
    margin-top: var(--sp-16);
  }

  .mt-20 {
    margin-top: var(--sp-20);
  }

  .mt-24 {
    margin-top: var(--sp-24);
  }

  .mt-32 {
    margin-top: var(--sp-32);
  }

  .mt-40 {
    margin-top: var(--sp-40);
  }

  .mt-48 {
    margin-top: var(--sp-48);
  }

  .mt-56 {
    margin-top: var(--sp-56);
  }

  .mt-64 {
    margin-top: var(--sp-64);
  }

  .mt-72 {
    margin-top: var(--sp-72);
  }

  .mt-80 {
    margin-top: var(--sp-80);
  }

  .-mt-4 {
    margin-top: calc(var(--sp-4) * -1);
  }

  .-mt-8 {
    margin-top: calc(var(--sp-8) * -1);
  }

  .-mt-12 {
    margin-top: calc(var(--sp-12) * -1);
  }

  .-mt-16 {
    margin-top: calc(var(--sp-16) * -1);
  }

  .-mt-20 {
    margin-top: calc(var(--sp-20) * -1);
  }

  .-mt-24 {
    margin-top: calc(var(--sp-24) * -1);
  }

  .-mt-32 {
    margin-top: calc(var(--sp-32) * -1);
  }

  .-mt-40 {
    margin-top: calc(var(--sp-40) * -1);
  }

  .-mt-48 {
    margin-top: calc(var(--sp-48) * -1);
  }

  .-mt-56 {
    margin-top: calc(var(--sp-56) * -1);
  }

  .-mt-64 {
    margin-top: calc(var(--sp-64) * -1);
  }

  .-mt-72 {
    margin-top: calc(var(--sp-72) * -1);
  }

  .-mt-80 {
    margin-top: calc(var(--sp-80) * -1);
  }

  .mr-0 {
    margin-right: 0;
  }

  .mr-4 {
    margin-right: var(--sp-4);
  }

  .mr-8 {
    margin-right: var(--sp-8);
  }

  .mr-12 {
    margin-right: var(--sp-12);
  }

  .mr-16 {
    margin-right: var(--sp-16);
  }

  .mr-20 {
    margin-right: var(--sp-20);
  }

  .mr-24 {
    margin-right: var(--sp-24);
  }

  .mr-32 {
    margin-right: var(--sp-32);
  }

  .mr-40 {
    margin-right: var(--sp-40);
  }

  .mr-48 {
    margin-right: var(--sp-48);
  }

  .mr-56 {
    margin-right: var(--sp-56);
  }

  .mr-64 {
    margin-right: var(--sp-64);
  }

  .mr-72 {
    margin-right: var(--sp-72);
  }

  .mr-80 {
    margin-right: var(--sp-80);
  }

  .-mr-4 {
    margin-right: calc(var(--sp-4) * -1);
  }

  .-mr-8 {
    margin-right: calc(var(--sp-8) * -1);
  }

  .-mr-12 {
    margin-right: calc(var(--sp-12) * -1);
  }

  .-mr-16 {
    margin-right: calc(var(--sp-16) * -1);
  }

  .-mr-20 {
    margin-right: calc(var(--sp-20) * -1);
  }

  .-mr-24 {
    margin-right: calc(var(--sp-24) * -1);
  }

  .-mr-32 {
    margin-right: calc(var(--sp-32) * -1);
  }

  .-mr-40 {
    margin-right: calc(var(--sp-40) * -1);
  }

  .-mr-48 {
    margin-right: calc(var(--sp-48) * -1);
  }

  .-mr-56 {
    margin-right: calc(var(--sp-56) * -1);
  }

  .-mr-64 {
    margin-right: calc(var(--sp-64) * -1);
  }

  .-mr-72 {
    margin-right: calc(var(--sp-72) * -1);
  }

  .-mr-80 {
    margin-right: calc(var(--sp-80) * -1);
  }

  .mb-0 {
    margin-bottom: 0;
  }

  .mb-4 {
    margin-bottom: var(--sp-4);
  }

  .mb-8 {
    margin-bottom: var(--sp-8);
  }

  .mb-12 {
    margin-bottom: var(--sp-12);
  }

  .mb-16 {
    margin-bottom: var(--sp-16);
  }

  .mb-20 {
    margin-bottom: var(--sp-20);
  }

  .mb-24 {
    margin-bottom: var(--sp-24);
  }

  .mb-32 {
    margin-bottom: var(--sp-32);
  }

  .mb-40 {
    margin-bottom: var(--sp-40);
  }

  .mb-48 {
    margin-bottom: var(--sp-48);
  }

  .mb-56 {
    margin-bottom: var(--sp-56);
  }

  .mb-64 {
    margin-bottom: var(--sp-64);
  }

  .mb-72 {
    margin-bottom: var(--sp-72);
  }

  .mb-80 {
    margin-bottom: var(--sp-80);
  }

  .-mb-4 {
    margin-bottom: calc(var(--sp-4) * -1);
  }

  .-mb-8 {
    margin-bottom: calc(var(--sp-8) * -1);
  }

  .-mb-12 {
    margin-bottom: calc(var(--sp-12) * -1);
  }

  .-mb-16 {
    margin-bottom: calc(var(--sp-16) * -1);
  }

  .-mb-20 {
    margin-bottom: calc(var(--sp-20) * -1);
  }

  .-mb-24 {
    margin-bottom: calc(var(--sp-24) * -1);
  }

  .-mb-32 {
    margin-bottom: calc(var(--sp-32) * -1);
  }

  .-mb-40 {
    margin-bottom: calc(var(--sp-40) * -1);
  }

  .-mb-48 {
    margin-bottom: calc(var(--sp-48) * -1);
  }

  .-mb-56 {
    margin-bottom: calc(var(--sp-56) * -1);
  }

  .-mb-64 {
    margin-bottom: calc(var(--sp-64) * -1);
  }

  .-mb-72 {
    margin-bottom: calc(var(--sp-72) * -1);
  }

  .-mb-80 {
    margin-bottom: calc(var(--sp-80) * -1);
  }

  .p-0 {
    padding: 0;
  }

  .p-4 {
    padding: var(--sp-4);
  }

  .p-8 {
    padding: var(--sp-8);
  }

  .p-12 {
    padding: var(--sp-12);
  }

  .p-16 {
    padding: var(--sp-16);
  }

  .p-20 {
    padding: var(--sp-20);
  }

  .p-24 {
    padding: var(--sp-24);
  }

  .p-32 {
    padding: var(--sp-32);
  }

  .p-40 {
    padding: var(--sp-40);
  }

  .p-48 {
    padding: var(--sp-48);
  }

  .p-56 {
    padding: var(--sp-56);
  }

  .p-64 {
    padding: var(--sp-64);
  }

  .p-72 {
    padding: var(--sp-72);
  }

  .p-80 {
    padding: var(--sp-80);
  }

  .-p-4 {
    padding: calc(var(--sp-4) * -1);
  }

  .-p-8 {
    padding: calc(var(--sp-8) * -1);
  }

  .-p-12 {
    padding: calc(var(--sp-12) * -1);
  }

  .-p-16 {
    padding: calc(var(--sp-16) * -1);
  }

  .-p-20 {
    padding: calc(var(--sp-20) * -1);
  }

  .-p-24 {
    padding: calc(var(--sp-24) * -1);
  }

  .-p-32 {
    padding: calc(var(--sp-32) * -1);
  }

  .-p-40 {
    padding: calc(var(--sp-40) * -1);
  }

  .-p-48 {
    padding: calc(var(--sp-48) * -1);
  }

  .-p-56 {
    padding: calc(var(--sp-56) * -1);
  }

  .-p-64 {
    padding: calc(var(--sp-64) * -1);
  }

  .-p-72 {
    padding: calc(var(--sp-72) * -1);
  }

  .-p-80 {
    padding: calc(var(--sp-80) * -1);
  }

  .px-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .px-4 {
    padding-left: var(--sp-4);
    padding-right: var(--sp-4);
  }

  .px-8 {
    padding-left: var(--sp-8);
    padding-right: var(--sp-8);
  }

  .px-12 {
    padding-left: var(--sp-12);
    padding-right: var(--sp-12);
  }

  .px-16 {
    padding-left: var(--sp-16);
    padding-right: var(--sp-16);
  }

  .px-20 {
    padding-left: var(--sp-20);
    padding-right: var(--sp-20);
  }

  .px-24 {
    padding-left: var(--sp-24);
    padding-right: var(--sp-24);
  }

  .px-32 {
    padding-left: var(--sp-32);
    padding-right: var(--sp-32);
  }

  .px-40 {
    padding-left: var(--sp-40);
    padding-right: var(--sp-40);
  }

  .px-48 {
    padding-left: var(--sp-48);
    padding-right: var(--sp-48);
  }

  .px-56 {
    padding-left: var(--sp-56);
    padding-right: var(--sp-56);
  }

  .px-64 {
    padding-left: var(--sp-64);
    padding-right: var(--sp-64);
  }

  .px-72 {
    padding-left: var(--sp-72);
    padding-right: var(--sp-72);
  }

  .px-80 {
    padding-left: var(--sp-80);
    padding-right: var(--sp-80);
  }

  .-px-4 {
    padding-left: calc(var(--sp-4) * -1);
    padding-right: calc(var(--sp-4) * -1);
  }

  .-px-8 {
    padding-left: calc(var(--sp-8) * -1);
    padding-right: calc(var(--sp-8) * -1);
  }

  .-px-12 {
    padding-left: calc(var(--sp-12) * -1);
    padding-right: calc(var(--sp-12) * -1);
  }

  .-px-16 {
    padding-left: calc(var(--sp-16) * -1);
    padding-right: calc(var(--sp-16) * -1);
  }

  .-px-20 {
    padding-left: calc(var(--sp-20) * -1);
    padding-right: calc(var(--sp-20) * -1);
  }

  .-px-24 {
    padding-left: calc(var(--sp-24) * -1);
    padding-right: calc(var(--sp-24) * -1);
  }

  .-px-32 {
    padding-left: calc(var(--sp-32) * -1);
    padding-right: calc(var(--sp-32) * -1);
  }

  .-px-40 {
    padding-left: calc(var(--sp-40) * -1);
    padding-right: calc(var(--sp-40) * -1);
  }

  .-px-48 {
    padding-left: calc(var(--sp-48) * -1);
    padding-right: calc(var(--sp-48) * -1);
  }

  .-px-56 {
    padding-left: calc(var(--sp-56) * -1);
    padding-right: calc(var(--sp-56) * -1);
  }

  .-px-64 {
    padding-left: calc(var(--sp-64) * -1);
    padding-right: calc(var(--sp-64) * -1);
  }

  .-px-72 {
    padding-left: calc(var(--sp-72) * -1);
    padding-right: calc(var(--sp-72) * -1);
  }

  .-px-80 {
    padding-left: calc(var(--sp-80) * -1);
    padding-right: calc(var(--sp-80) * -1);
  }

  .py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .py-4 {
    padding-top: var(--sp-4);
    padding-bottom: var(--sp-4);
  }

  .py-8 {
    padding-top: var(--sp-8);
    padding-bottom: var(--sp-8);
  }

  .py-12 {
    padding-top: var(--sp-12);
    padding-bottom: var(--sp-12);
  }

  .py-16 {
    padding-top: var(--sp-16);
    padding-bottom: var(--sp-16);
  }

  .py-20 {
    padding-top: var(--sp-20);
    padding-bottom: var(--sp-20);
  }

  .py-24 {
    padding-top: var(--sp-24);
    padding-bottom: var(--sp-24);
  }

  .py-32 {
    padding-top: var(--sp-32);
    padding-bottom: var(--sp-32);
  }

  .py-40 {
    padding-top: var(--sp-40);
    padding-bottom: var(--sp-40);
  }

  .py-48 {
    padding-top: var(--sp-48);
    padding-bottom: var(--sp-48);
  }

  .py-56 {
    padding-top: var(--sp-56);
    padding-bottom: var(--sp-56);
  }

  .py-64 {
    padding-top: var(--sp-64);
    padding-bottom: var(--sp-64);
  }

  .py-72 {
    padding-top: var(--sp-72);
    padding-bottom: var(--sp-72);
  }

  .py-80 {
    padding-top: var(--sp-80);
    padding-bottom: var(--sp-80);
  }

  .-py-4 {
    padding-top: calc(var(--sp-4) * -1);
    padding-bottom: calc(var(--sp-4) * -1);
  }

  .-py-8 {
    padding-top: calc(var(--sp-8) * -1);
    padding-bottom: calc(var(--sp-8) * -1);
  }

  .-py-12 {
    padding-top: calc(var(--sp-12) * -1);
    padding-bottom: calc(var(--sp-12) * -1);
  }

  .-py-16 {
    padding-top: calc(var(--sp-16) * -1);
    padding-bottom: calc(var(--sp-16) * -1);
  }

  .-py-20 {
    padding-top: calc(var(--sp-20) * -1);
    padding-bottom: calc(var(--sp-20) * -1);
  }

  .-py-24 {
    padding-top: calc(var(--sp-24) * -1);
    padding-bottom: calc(var(--sp-24) * -1);
  }

  .-py-32 {
    padding-top: calc(var(--sp-32) * -1);
    padding-bottom: calc(var(--sp-32) * -1);
  }

  .-py-40 {
    padding-top: calc(var(--sp-40) * -1);
    padding-bottom: calc(var(--sp-40) * -1);
  }

  .-py-48 {
    padding-top: calc(var(--sp-48) * -1);
    padding-bottom: calc(var(--sp-48) * -1);
  }

  .-py-56 {
    padding-top: calc(var(--sp-56) * -1);
    padding-bottom: calc(var(--sp-56) * -1);
  }

  .-py-64 {
    padding-top: calc(var(--sp-64) * -1);
    padding-bottom: calc(var(--sp-64) * -1);
  }

  .-py-72 {
    padding-top: calc(var(--sp-72) * -1);
    padding-bottom: calc(var(--sp-72) * -1);
  }

  .-py-80 {
    padding-top: calc(var(--sp-80) * -1);
    padding-bottom: calc(var(--sp-80) * -1);
  }

  .pl-0 {
    padding-left: 0;
  }

  .pl-4 {
    padding-left: var(--sp-4);
  }

  .pl-8 {
    padding-left: var(--sp-8);
  }

  .pl-12 {
    padding-left: var(--sp-12);
  }

  .pl-16 {
    padding-left: var(--sp-16);
  }

  .pl-20 {
    padding-left: var(--sp-20);
  }

  .pl-24 {
    padding-left: var(--sp-24);
  }

  .pl-32 {
    padding-left: var(--sp-32);
  }

  .pl-40 {
    padding-left: var(--sp-40);
  }

  .pl-48 {
    padding-left: var(--sp-48);
  }

  .pl-56 {
    padding-left: var(--sp-56);
  }

  .pl-64 {
    padding-left: var(--sp-64);
  }

  .pl-72 {
    padding-left: var(--sp-72);
  }

  .pl-80 {
    padding-left: var(--sp-80);
  }

  .-pl-4 {
    padding-left: calc(var(--sp-4) * -1);
  }

  .-pl-8 {
    padding-left: calc(var(--sp-8) * -1);
  }

  .-pl-12 {
    padding-left: calc(var(--sp-12) * -1);
  }

  .-pl-16 {
    padding-left: calc(var(--sp-16) * -1);
  }

  .-pl-20 {
    padding-left: calc(var(--sp-20) * -1);
  }

  .-pl-24 {
    padding-left: calc(var(--sp-24) * -1);
  }

  .-pl-32 {
    padding-left: calc(var(--sp-32) * -1);
  }

  .-pl-40 {
    padding-left: calc(var(--sp-40) * -1);
  }

  .-pl-48 {
    padding-left: calc(var(--sp-48) * -1);
  }

  .-pl-56 {
    padding-left: calc(var(--sp-56) * -1);
  }

  .-pl-64 {
    padding-left: calc(var(--sp-64) * -1);
  }

  .-pl-72 {
    padding-left: calc(var(--sp-72) * -1);
  }

  .-pl-80 {
    padding-left: calc(var(--sp-80) * -1);
  }

  .pt-0 {
    padding-top: 0;
  }

  .pt-4 {
    padding-top: var(--sp-4);
  }

  .pt-8 {
    padding-top: var(--sp-8);
  }

  .pt-12 {
    padding-top: var(--sp-12);
  }

  .pt-16 {
    padding-top: var(--sp-16);
  }

  .pt-20 {
    padding-top: var(--sp-20);
  }

  .pt-24 {
    padding-top: var(--sp-24);
  }

  .pt-32 {
    padding-top: var(--sp-32);
  }

  .pt-40 {
    padding-top: var(--sp-40);
  }

  .pt-48 {
    padding-top: var(--sp-48);
  }

  .pt-56 {
    padding-top: var(--sp-56);
  }

  .pt-64 {
    padding-top: var(--sp-64);
  }

  .pt-72 {
    padding-top: var(--sp-72);
  }

  .pt-80 {
    padding-top: var(--sp-80);
  }

  .-pt-4 {
    padding-top: calc(var(--sp-4) * -1);
  }

  .-pt-8 {
    padding-top: calc(var(--sp-8) * -1);
  }

  .-pt-12 {
    padding-top: calc(var(--sp-12) * -1);
  }

  .-pt-16 {
    padding-top: calc(var(--sp-16) * -1);
  }

  .-pt-20 {
    padding-top: calc(var(--sp-20) * -1);
  }

  .-pt-24 {
    padding-top: calc(var(--sp-24) * -1);
  }

  .-pt-32 {
    padding-top: calc(var(--sp-32) * -1);
  }

  .-pt-40 {
    padding-top: calc(var(--sp-40) * -1);
  }

  .-pt-48 {
    padding-top: calc(var(--sp-48) * -1);
  }

  .-pt-56 {
    padding-top: calc(var(--sp-56) * -1);
  }

  .-pt-64 {
    padding-top: calc(var(--sp-64) * -1);
  }

  .-pt-72 {
    padding-top: calc(var(--sp-72) * -1);
  }

  .-pt-80 {
    padding-top: calc(var(--sp-80) * -1);
  }

  .pr-0 {
    padding-right: 0;
  }

  .pr-4 {
    padding-right: var(--sp-4);
  }

  .pr-8 {
    padding-right: var(--sp-8);
  }

  .pr-12 {
    padding-right: var(--sp-12);
  }

  .pr-16 {
    padding-right: var(--sp-16);
  }

  .pr-20 {
    padding-right: var(--sp-20);
  }

  .pr-24 {
    padding-right: var(--sp-24);
  }

  .pr-32 {
    padding-right: var(--sp-32);
  }

  .pr-40 {
    padding-right: var(--sp-40);
  }

  .pr-48 {
    padding-right: var(--sp-48);
  }

  .pr-56 {
    padding-right: var(--sp-56);
  }

  .pr-64 {
    padding-right: var(--sp-64);
  }

  .pr-72 {
    padding-right: var(--sp-72);
  }

  .pr-80 {
    padding-right: var(--sp-80);
  }

  .-pr-4 {
    padding-right: calc(var(--sp-4) * -1);
  }

  .-pr-8 {
    padding-right: calc(var(--sp-8) * -1);
  }

  .-pr-12 {
    padding-right: calc(var(--sp-12) * -1);
  }

  .-pr-16 {
    padding-right: calc(var(--sp-16) * -1);
  }

  .-pr-20 {
    padding-right: calc(var(--sp-20) * -1);
  }

  .-pr-24 {
    padding-right: calc(var(--sp-24) * -1);
  }

  .-pr-32 {
    padding-right: calc(var(--sp-32) * -1);
  }

  .-pr-40 {
    padding-right: calc(var(--sp-40) * -1);
  }

  .-pr-48 {
    padding-right: calc(var(--sp-48) * -1);
  }

  .-pr-56 {
    padding-right: calc(var(--sp-56) * -1);
  }

  .-pr-64 {
    padding-right: calc(var(--sp-64) * -1);
  }

  .-pr-72 {
    padding-right: calc(var(--sp-72) * -1);
  }

  .-pr-80 {
    padding-right: calc(var(--sp-80) * -1);
  }

  .pb-0 {
    padding-bottom: 0;
  }

  .pb-4 {
    padding-bottom: var(--sp-4);
  }

  .pb-8 {
    padding-bottom: var(--sp-8);
  }

  .pb-12 {
    padding-bottom: var(--sp-12);
  }

  .pb-16 {
    padding-bottom: var(--sp-16);
  }

  .pb-20 {
    padding-bottom: var(--sp-20);
  }

  .pb-24 {
    padding-bottom: var(--sp-24);
  }

  .pb-32 {
    padding-bottom: var(--sp-32);
  }

  .pb-40 {
    padding-bottom: var(--sp-40);
  }

  .pb-48 {
    padding-bottom: var(--sp-48);
  }

  .pb-56 {
    padding-bottom: var(--sp-56);
  }

  .pb-64 {
    padding-bottom: var(--sp-64);
  }

  .pb-72 {
    padding-bottom: var(--sp-72);
  }

  .pb-80 {
    padding-bottom: var(--sp-80);
  }

  .-pb-4 {
    padding-bottom: calc(var(--sp-4) * -1);
  }

  .-pb-8 {
    padding-bottom: calc(var(--sp-8) * -1);
  }

  .-pb-12 {
    padding-bottom: calc(var(--sp-12) * -1);
  }

  .-pb-16 {
    padding-bottom: calc(var(--sp-16) * -1);
  }

  .-pb-20 {
    padding-bottom: calc(var(--sp-20) * -1);
  }

  .-pb-24 {
    padding-bottom: calc(var(--sp-24) * -1);
  }

  .-pb-32 {
    padding-bottom: calc(var(--sp-32) * -1);
  }

  .-pb-40 {
    padding-bottom: calc(var(--sp-40) * -1);
  }

  .-pb-48 {
    padding-bottom: calc(var(--sp-48) * -1);
  }

  .-pb-56 {
    padding-bottom: calc(var(--sp-56) * -1);
  }

  .-pb-64 {
    padding-bottom: calc(var(--sp-64) * -1);
  }

  .-pb-72 {
    padding-bottom: calc(var(--sp-72) * -1);
  }

  .-pb-80 {
    padding-bottom: calc(var(--sp-80) * -1);
  }

  .position-static {
    position: static;
  }

  .position-absolute {
    position: absolute;
  }

  .position-relative {
    position: relative;
  }

  .position-fixed {
    position: fixed;
  }

  .position-sticky {
    position: sticky;
  }

  .ta-left {
    text-align: left;
  }

  .ta-center {
    text-align: center;
  }

  .ta-right {
    text-align: right;
  }

  .w-auto {
    width: auto;
  }

  .w-max-content {
    width: max-content;
  }

  .w-min-content {
    width: min-content;
  }

  .w-0 {
    width: 0;
  }

  .w-4 {
    width: var(--sp-4);
  }

  .w-8 {
    width: var(--sp-8);
  }

  .w-12 {
    width: var(--sp-12);
  }

  .w-16 {
    width: var(--sp-16);
  }

  .w-20 {
    width: var(--sp-20);
  }

  .w-24 {
    width: var(--sp-24);
  }

  .w-32 {
    width: var(--sp-32);
  }

  .w-40 {
    width: var(--sp-40);
  }

  .w-48 {
    width: var(--sp-48);
  }

  .w-56 {
    width: var(--sp-56);
  }

  .w-64 {
    width: var(--sp-64);
  }

  .w-72 {
    width: var(--sp-72);
  }

  .w-80 {
    width: var(--sp-80);
  }

  .w-50\% {
    width: 50%;
  }

  .w-100\% {
    width: 100%;
  }
}
