@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400..800&display=swap");

@import "./components/Button/Button.css";
@import "./components/Card/Card.css";
@import "./components/Spinner/Spinner.css";
@import "./components/TextField/TextField.css";

:root {
  color-scheme: dark;

  --gray-1: hsl(0, 0%, 8.5%);
  --gray-2: hsl(0, 0%, 11%);
  --gray-3: hsl(0, 0%, 13.6%);
  --gray-4: hsl(0, 0%, 15.8%);
  --gray-5: hsl(0, 0%, 17.9%);
  --gray-6: hsl(0, 0%, 20.5%);
  --gray-7: hsl(0, 0%, 24.3%);
  --gray-8: hsl(0, 0%, 31.2%);
  --gray-9: hsl(0, 0%, 43.9%);
  --gray-10: hsl(0, 0%, 49.4%);
  --gray-11: hsl(0, 0%, 62.8%);
  --gray-12: hsl(0, 0%, 93%);

  --gray-a1: hsla(0, 0%, 100%, 0);
  --gray-a2: hsla(0, 0%, 100%, 0.026);
  --gray-a3: hsla(0, 0%, 100%, 0.056);
  --gray-a4: hsla(0, 0%, 100%, 0.077);
  --gray-a5: hsla(0, 0%, 100%, 0.103);
  --gray-a6: hsla(0, 0%, 100%, 0.129);
  --gray-a7: hsla(0, 0%, 100%, 0.172);
  --gray-a8: hsla(0, 0%, 100%, 0.249);
  --gray-a9: hsla(0, 0%, 100%, 0.386);
  --gray-a10: hsla(0, 0%, 100%, 0.446);
  --gray-a11: hsla(0, 0%, 100%, 0.592);
  --gray-a12: hsla(0, 0%, 100%, 0.923);

  --red-1: #1f1315;
  --red-2: #291415;
  --red-3: #3c181a;
  --red-4: #481a1d;
  --red-5: #541b1f;
  --red-6: #671e22;
  --red-7: #822025;
  --red-8: #aa2429;
  --red-9: #e5484d;
  --red-10: #f2555a;
  --red-11: #ff6369;
  --red-12: #feecee;

  --canvas: var(--gray-1);

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 32px;
  --space-7: 40px;
  --space-8: 48px;
  --space-9: 64px;

  --br-1: 3px;
  --br-2: 4px;
  --br-3: 6px;
  --br-4: 8px;
  --br-5: 12px;
  --br-6: 16px;

  --ff-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  --fs-1: 12px;
  --fs-2: 14px;
  --fs-3: 16px;
  --fs-4: 18px;
  --fs-5: 20px;
  --fs-6: 24px;
  --fs-7: 28px;
  --fs-8: 35px;
  --fs-9: 60px;
}

body {
  margin: 0;
  overflow-wrap: break-word;
  font-family: var(--ff-sans);
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  color: var(--gray-12);
  background-color: var(--canvas);
}

svg {
  display: block;
}

.reset-a {
  text-decoration: none;
  cursor: pointer;
}

.reset-a,
.reset-button {
  color: inherit;
  outline: none;
}

.reset-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
  padding: 0;
  margin: 0;
  text-align: initial;
  -webkit-tap-highlight-color: transparent;
}

.reset-heading {
  margin: 0;
}

.reset-li {
  display: block;
}

.reset-ol,
.reset-ul {
  margin: 0;
  padding: 0;
}

.reset-pre {
  margin: 0;
}
